protocol=pythia-14m-projected-k4-survivor-diagnostic-v1
protocol_commit=ae5aea026da6b855b0d4b8b8de15dfd465e1440e
synthetic_test_commit=d91359e38f72b76dbf2fa91d137f3a01322f2177
workflow_commit=8b1489274c98e3d55283937b7434eec700d3632e
launch_gate_commit=decc8725286f47420e0e00ef47050b768aa85c71
runner_commit=b9c0eedb49afb8585cf8fb5fd6969454b1465299
runner_style_gate_commit=aacee0460595357876418272bc8b135c809a95bd
failed_pre_model_run=33323546560
failed_pre_model_job=99289590738
failed_pre_model_stage_executions=0
failed_pre_model_scientific_outputs_observed=false
failed_pre_model_artifact_created=false
portable_numerics_adapter_commit=c1ac79d2327400ed304b6ac5b0dbf8ece815611a
workflow_routing_fix_commit=94f6971f09f3645722f1fd7aa863288b2b06f579
routing_regression_gate_commit=962fb2970ce9ece4fb117e53b629f0e853f3d534
failed_exact_prefix_run=33323819378
failed_exact_prefix_job=99290329962
failed_exact_prefix_head=bddfbe51636971de1738da8ae5210e67c914d4bc
failed_exact_prefix_planned_stage_executions_completed=68
failed_exact_prefix_scientific_metrics_emitted=false
failed_exact_prefix_artifact_created=false
failed_exact_prefix_c_or_d_scores_logged=false
invalid_attempts_record_commit=8557cf1a4f479a0b9a9beadb2f21e119c9e78dc8
implementation_amendment_commit=bf5406e74ea75b3eabaa13e007e94fa719ac6e25
streaming_exact_interactions_commit=350a9d6ecaaccbc82f7384be02b4950428d929e5
streaming_exact_test_commit=352b924f55b1af0b4c7b51ca0cf38108b2c78d17
runner_exact_prefix_repair_commit=715122a0f1a458bb8a0aefa0e86e3783d531821c
repair_gate_commit=f0e678864b90e506af695e31f3889062cd8a3ba9
repair_gate_ci_run=33327245470
repair_gate_ci_conclusion=success
retry_reason=implement_original_exact_active_lift_semantics_with_streaming_direct_prefix_k3_measurement_and_ephemeral_exact_degree3_prefix_cache
scientific_settings_changed=false
scientific_decision_rule_changed=false
survivor_set_changed=false
thresholds_changed=false
stage_execution_budget_changed=false
source_k3_convex_run=33308823851
source_k3_convex_artifact=9731394224
spent_codebook_seed=1011473075
target_history=ABCD
survivor_last_stages=C,D
k3_basis_stage_executions=40
degree4_active_lift_stage_executions=24
target_replay_stage_executions=4
total_expected_stage_executions=68
retained_degree4_projection_scalars=96
confirmation_codebooks_observed=false
heldout_confirmation_launch_authorized=false
launch_role=non_confirmatory_spent_survivor_active_lift_diagnostic
